* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-gray);
  color: var(--main-white);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}
:root {/*Color-variables*/
  --main-gray: #303841;
  --main-white: #f0f0f0;
  --main-orange: #fdb347;
}
.nav {
  display: flex; /*Flex-Container*/
  justify-content: flex-end; /*Align the flex items at the end of the container*/
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width:100%;
  background: var(--main-orange);
  /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);*/
  /*z-index: 10;*/
}
.nav-list {
    display: flex;
    /*margin-right: 2rem;*/
}
ul {
    list-style: none; /*get rid of the list-style punctuation*/
}
