.nav {
  display: flex;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width:100%;
  background: #fdb347;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
