.nav {
  display: flex;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
